.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
}

.favorites-button {
  background: #ff4081;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
}

.favorites-button:hover {
  background: #e73370;
}
.home-link {
  text-decoration: none;
  color: inherit;
}
.button-container {
  display: flex;
  gap: 20px;
}
